html {
    scroll-behavior: smooth !important;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f1f1f1;
  }
  
   
  
  a{
    color: black;
    text-decoration: none;
  }
  
  #top-nav{
      background-color: rgb(255, 255, 255); 
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 25px;
      height: 4rem;
      box-shadow: 0px .5px 1px #888888; 
      z-index: 100;
      font-family: monospace;
  }
  
  
  #top-nav ul{
    padding-left: 17px;
    }
    
    #top-nav li{
      display: inline;
      padding: 10px 15px 15px 10px;
    float: left;
    
    }
    #top-nav .right-buttons{
      float: right;
      cursor:default;
      padding-right: 30px;
    
    }
  
  #top-nav a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;}
  
  #side-nav {
    transition: all 1s;
    background-color: white;
    padding-bottom: 300px;
    padding: 20px 0 0 0;
    width: 14rem;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 100;
    box-shadow: 0px 0px 1.5px #888888;
    top: 64.5px; 
  
  }

  #side-nav :nth-last-child(){
      float: right;
  }
  
  #side-nav ul{
    padding-left: 30px;
  }
  
  #side-nav li {
    padding: 10px 0;
  }
  
  #side-nav li a{
  font-size: 1.1rem;
   }
  
  #side-nav ul {
    margin: 10px;
    list-style: none;
  }
  
  #side-nav ul li ul li a{
  font-size: 0.7rem;
  padding-top: 0px;
  } 
  
  #side-nav ul li ul li{
    font-size: 0.7rem;
    padding-top: 5px;
    } 
  
  #side-nav ul ul {
    margin: 15px 20px 0 0;
    padding-left: 20px;
  }
  
  /* Main */
  
  main {
    margin-left: 16rem;
    margin-top: 250px;
    transition: all 1s;
  
  }
  
  